.transactions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.widgets {
  display: flex;
}

.transctions__widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.transctions__widget > h1 {
  margin-bottom: 20px;
}

.transctions__card {
  max-height: 350px;
  overflow-y: scroll;
}

.transctions__card::-webkit-scrollbar {
  display: none;
}

.transaction__card {
  display: flex;
  background-color: #3a3a3a;
  border-radius: 10px;
  align-items: center;
  width: 500px;
  text-align: center;
  justify-content: space-between;
  padding: 20px;
  margin: 5px;
}

.plus {
  border-right: 5px solid #2ecc71;
}

.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  margin-bottom: -20px;
  margin-right: -20px;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.transaction__card:hover > .delete-btn {
  opacity: 0.7;
}

.transaction__type {
  display: flex;
}

.transaction__time > p {
  max-width: 120px;
  font-size: 12px;
}

@media only screen and (max-width: 600px) {
  .transaction__card {
    width: 280px;
  }
}
