* {
  margin: 0;
}

.App {
  background-color: #302d43;
  color: rgb(213, 209, 209);
}

.app__loading {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.loading__content {
  text-align: center;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading__content > img {
  height: 150px;
  padding: 20px;
  margin-bottom: 40px;
}
